@media (max-width: 1200px) {
    .container {
        width: 90% !important;
        margin: 0 auto;
    }

    .home-img::before {
        font-size: 128px !important;
        top: -35px;
    }
}

@media (max-width: 910px) {
    .nav {
        padding: 18px 0;
    }

    .home-img::before {
        font-size: 96px !important;
        top: -35px !important;
    }

    .cart-box {
        grid-template-columns: 1fr !important;
    }
}

@media (max-width: 728px) {
    .home-img::before {
        font-size: 80px !important;
        top: -40px !important;
    }

    .home-img {
        height: 70vh !important;
    }
}

@media (max-width: 550px) {
    #menu-icon {
        display: block !important;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        display: flex;
        flex-direction: column;
        background-color: $header-color;
        row-gap: 8px;
        padding: 10px 0;
        text-align: center;
        box-shadow: 0 20px 20px rgba(237, 237, 237, 0.45);
        clip-path: circle(0% at 0% 0%);
        transition: all .4s;
    }

    .navbar.open-menu {
        clip-path: circle(144% at 0% 0%);
    }

    .nav-link {
        display: block;
        padding: 15px;
    }

    .home-img::before {
        font-size: 50px !important;
    }

    .footer-c {
        grid-template-columns: 1fr !important;
    }
}